@{
    ViewBag.Title = "reviewPost";
    Layout = null;
    FTECH_WebReviewCongNghe.Models.BAIVIET bv = ViewBag.bv;
    List<FTECH_WebReviewCongNghe.Models.TAIKHOAN> dsTK = ViewBag.dsTaiKhoan;
    List<FTECH_WebReviewCongNghe.Models.TRANGTHAIBAIDANG> dsTT = ViewBag.dsTrangThai;
    List<FTECH_WebReviewCongNghe.Models.LOAIBAIDANG> dsLBD = ViewBag.dsLoaiBaiDang;
    List<FTECH_WebReviewCongNghe.Models.DANHMUC> dsDM = ViewBag.dsDanhMuc;
}
@{ FTECH_WebReviewCongNghe.Models.TAIKHOAN tk =
  (FTECH_WebReviewCongNghe.Models.TAIKHOAN)Session["account"]; }
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Quản lý bài đăng</title>

    <!-- Custom fonts for this template-->
    <link href="~/MySource/admin/vendor/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.min.css"
          rel="stylesheet" type="text/css">
    <link href="~/MySource/admin/css/content-admin.min.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <ul class="sidebar navbar-nav">
            <img src="~/MySource/img/logo.jpg"> <!-- Hình ảnh mặc định -->
            <li class="nav-item" style="text-align: center; margin-bottom:15px;">
                <a class="nav-link avt" href="~/MySource/admin/#" id="userDropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="~/MySource/img/avt.jpg" class="avatar" alt="Avatar"
                         style="width: 50px; height: 50px; float: left; margin-right: 10px; border-radius: 50%;">
                    <div style="float: left;">
                        <span class="name"
                              style="display: block; font-weight: bold; margin-bottom: 5px;">@tk.HOVATEN</span>
                            <span class="job" style="font-size: smaller;">@tk.CHUCVU.TENCHUCVU</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="~/Admin/PostManage">
                        <i class="fa-solid fa-file" style="color: #ffffff;"></i>
                        <span>Quản lý bài đăng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Admin/addPost">
                        <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                        <span>Thêm bài đăng</span>
                    </a>
                </li>
                <li class="nav-item" style="background-color: #CEE2F5;">
                    <a class="nav-link" href="~/Admin/reviewPost">
                        <i class="fa-solid fa-eye" style="color: #121212;"></i>
                        <span style="color: #121212;font-weight: 500;">Duyệt bài đăng</span>
                    </a>
                </li>
            </ul>

            <div id="content-wrapper" style="margin: 10px;color:#0A5DA9 ;">
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa-solid fa-bars"></i>
                            <a href="~/Admin/Index" style="text-decoration: none; color: #0A5DA9">
                                Quản lý
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <a>

                                Duyệt bài đăng
                            </a>
                        </div>
                        <form action="~/Admin/reviewPost" method="post" enctype="multipart/form-data">
                            <div class="row1" style="margin: 20px;display:flex;">
                                <div class="col">
                                    <label for="titleinp" style="margin-bottom: 10px;display: block;">Tiêu đề</label>
                                    <input name="TENBAIVIET" id="titleinp" value="@bv.TENBAIVIET"
                                           style="border-radius: 5px;width: 300px;height: 40px;padding: 10px; border: 2px solid #0A5DA9; border-radius: 5px; color: #0A5DA9">
                                    <input type="hidden" id="ID" value="@bv.MABAIVIET" name="MABAIVIET">
                                </div>

                                <div class="col">
                                    <label style="margin-bottom: 10px;display: block;">Loại bài đăng</label>
                                    <div class="customss" style="background-color:#ffff">
                                        <select class="ss-option" name="MALOAI" required
                                                style="width:200px;padding:10px;border:2px solid #0A5DA9;border-radius:5px; color: #0A5DA9; background-color:#fff">
                                            @foreach (var loaibd in dsLBD)
                                            {
                                                <option value="@loaibd.MALOAI" @(loaibd.MALOAI == bv.MALOAI ? "selected" : "")>
                                                    @loaibd.LOAIBAIDANG1
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="myfile" style="margin-bottom: 10px;display: block;">Tác giả</label>
                                    <input name="TACGIA" id="TACGIA"
                                           style="border: 2px solid #0A5DA9; border-radius: 5px; color: #0A5DA9; width: 150px;height: 40px;"
                                           value="@tk.HOVATEN">
                                </div>

                                <div class="col">
                                    <label style="margin-bottom: 10px;display: block;">Danh mục chính</label>
                                    <div class="customss" style="background-color:#ffff">
                                        <select class="ss-option" name="MADANHMUC"
                                                style="width:200px;padding:10px;border:2px solid #0A5DA9;border-radius:5px; color: #0A5DA9;background-color:#fff">
                                            @foreach (var dmuc in dsDM)
                                            {
                                                <option value="@dmuc.MADANHMUC" @(dmuc.MADANHMUC == bv.MADANHMUC ? "selected" : "")>
                                                    @dmuc.TENDANHMUC
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="content-box-post">
                                <h4 style="font-weight:lighter;font-size: medium;margin-left: 15px;color:#0A5DA9 ;">Nội dung bài đăng</h4>
                                <textarea name="NOIDUNG" id="postdes" cols="30" rows="10"
                                          style="margin: 20px;box-sizing: content-box;">@bv.NOIDUNG</textarea>
                            </div>

                            <div class="image-attached" style="margin: 20px;">
                                <h4 style="font-weight:lighter;font-size: medium;margin-left: 15px;color:#0A5DA9 ;">Hình ảnh đính kèm</h4>
                                <div class="images" style="display: flex;">
                                    <div class="col-lg-3">
                                        <div class="categories__item set-bg">
                                            <img src="../MySource/img/product/@bv.HINHANH" />
                                        </div>
                                    </div>
                                </div>

                                <div class="cmt-post" style="margin: 20px;">
                                    <h4 style="font-weight:lighter;font-size: medium;margin-left: 15px;color:#0A5DA9 ;">Nhận xét</h4>
                                    <textarea name="post-description" id="postdes" cols="30" rows="5"
                                              style="margin: 20px;box-sizing: content-box;"></textarea>
                                    <div class="btn-check" style="display: flex;margin-left: 20px;margin-top: -20px;">
                                        <div class="btn-check-select" style="margin-right: 10px;max-width: 20px;max-height: 20px;">
                                            <a href='https://viettuts.vn/html/su-kien-event-trong-html'>
                                                <i class="fa-solid fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="btn-check-select" style="margin-right: 10px;max-width: 20px;max-height: 20px;">
                                            <a><i class="fa-solid fa-xmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="button-select">
                                @if (bv.TRANGTHAIBAIDANG.MATRANGTHAI == 2 || bv.TRANGTHAIBAIDANG.MATRANGTHAI == 5)
                                {
                                    <button class="buttonbtn" name="rvpost" value="true" >Quay lại</button>
                                }
                                else
                                {
                            <button class="buttonbtn" type="submit" name="rvpost" value="false">Từ chối</button>
                                }
                                
                                @if (bv.TRANGTHAIBAIDANG.MATRANGTHAI == 2 || bv.TRANGTHAIBAIDANG.MATRANGTHAI == 5)
                                {
                                    <button class="buttonbtn" name="rvpost" value="true" style="display:none">Duyệt</button>
                                }
                                else
                                {
                                    <button class="buttonbtn" type="submit" name="rvpost" value="true">Duyệt</button>
                                }
                            </div>
                        </form>

                    </div>

                </div>
            </div>

    </body>

</html>